
GEMINI_API_KEY = AIzaSyDYi2xLT0QIywHKyf6P_9fre9sun9Rxe7s

LLM_TRANSLATE_MODEL = gemini-3.1-flash-lite

LLM_CHAT_MODEL = gemini-3.1-flash-lite

EMBEDDING_MODEL = gemini-embedding-2

MINERU_API_URL = http://localhost:8000/file_parse

MINERU_HOST = user@localhost

MINERU_OUTPUT_DIR = /home/user/output

