# Web 框架
fastapi
uvicorn
python-multipart

# LLM
google-genai

# Embedding 與向量庫
sentence_transformers
faiss-cpu
langchain
langchain_community
langchain-huggingface
langchain-text-splitters

# 工具
python-dotenv
requests
zhconv
pymupdf
